.Popular{
    background-color: #000;
    width: 100%;
    height: 100vh;
    h1{
        font-family: Khula;
        color: #fff;
        font-size: 36px;
        font-weight: 700;
        margin-top: 30px;
        margin-bottom: -30px;
        span{
            color: #E50914;
            font-size: 36px;
            font-weight: 700;
            font-family: Khula;
        }
    }
}