#app {
    height: 100%;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000000;
    margin: 0;
    padding: 0;
}

.myHero {
    width: 100%;
    height: 574px !important;
    margin-top: -60px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__banner {
    position: relative;
}

.gradient {
    position: absolute;
    background-image: linear-gradient(to top, #000000, #000000d7, #0000007b, #00000017, #00000007);
    z-index: 10;
    height: 500px;
    width: 100%;
    bottom: 0;
}

.hero__content {
    .logoDarling {
        img {
            width: 417px;
            height: 177px;
            position: absolute;
            top: 200px;
            left: 100px;
            z-index: 10;
        }
    }

    .btns {
        display: flex;
        align-items: center;
        gap: 0 20px;
        position: absolute;
        top: 380px;
        z-index: 11;
        left: 130px;

        .play {
            background-color: white;
            width: 155px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0 5px;
            border-radius: 5px;
            border: none;
            font-weight: 700;
            color: #000;
            font-size: 26px;
            font-family: 'IBM Plex Sans Thai', sans-serif;
            cursor: pointer;
            text-decoration: none;

            img {
                width: 30px;
                height: 30px;
            }
        }
        .play:hover{
            background-color: #E50914;
            transition: 0.5s;
        }

        .info {
            color: #F9F9F9;
            font-size: 27px;
            font-weight: 700;
            width: 209px;
            height: 51px;
            border: none;
            background-color: #808080d2;
            border-radius: 5px;
            font-family: 'IBM Plex Sans Thai', sans-serif;
            cursor: pointer;
            text-decoration: none;
            display: grid;
            place-items: center;
        }
        .info:hover{
            background-color: #e50914bd;
            transition: 0.5s;
            color: #000;
        }

    }
}