#app {
    height: 100%;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}
.fourth__swiper{
    margin-top: 10px;
    margin-left: 80px;
    h1{
        color: white;
        font-weight: 700;
        font-size: 77px;
        line-height: 77px;
        font-size: 24px;
        font-family: Khula;
    }
}

.fourthCarousel {
    width: 100%;
    height: auto;
    margin-top: -75px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}