#app {
    height: 100%;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}
.Tvshows{
    background-color: #000;
    height: 100vh;
    padding-top: 80px;
    padding-left: 80px;
    h1{
        font-family: Khula;
        color: #fff;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: -20px;
        span{
            color: #E50914;
            font-size: 36px;
            font-weight: 700;
            margin-bottom: -20px;
            font-family: Khula;
        }
    }
}

.gridSwiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.grid-slide {
    text-align: center;
    font-size: 18px;
    background: #000;
    height: calc((100% - 30px) / 2) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img{
        width: 100%;
        height: 75px;
        object-fit: contain;
    }
    p{
        color: #fff;
        font-size: 10px;
        font-weight: 700;
        font-family: Khula;
        padding-top: 10px;
    }
}