@import url('https://fonts.googleapis.com/css2?family=Inter&family=Khula:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Khula', sans-serif;
}
.container{
  max-width: 1400px;
  padding: 0 20px;
  margin: auto;
}