nav {
    width: 100%;
    height: 95px;
    background-color: #000000;
    position: relative;
    z-index: 100;
    .container {
        .nav__container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0 50px;
            padding-top: 25px;
            .logo {
                a {
                    cursor: pointer;
                    img {
                        width: 152px;
                        height: 44px;
                    }
                }
            }

            ul {
                list-style-type: none;
                display: flex;
                align-items: center;
                gap: 0 20px;
                flex: 1;

                li {
                    a {
                        text-decoration: none;
                        color: white;
                        font-weight: 400;
                        font-size: 21px;
                        line-height: 77px;
                        cursor: pointer;
                    }
                    a:hover{
                        color: #E50914;
                        transition: 0.5s;
                    }
                    .active{
                        color: #E50914;
                    }
                }
            }
            .select-container{
                display: flex;
                justify-content: center;
                position: relative;
                max-width: 180px;
                height: 50px;
                .selector{
                    border: none;
                    appearance: none;
                    outline: none;
                    padding: 0 30px 0 15px;
                    width: 100%;
                    color: white;
                    background-color: #000000;
                    font-size: 21px;
                    font-weight: 400;
                    option:focus{
                        background-color: red !important;
                    }
                    option:hover{
                        background-color: #E50914 !important;
                    }
                }
                select::-webkit-scrollbar{
                    display: none;
                }
                button{
                    width: 60px;
                    height: 100%;
                    position: absolute;
                    right: 0;
                    background-color: transparent;
                    border: none;
                    outline: none;
                }
            }

            .input {
                border: 4px solid #B8B8B8;
                width: 326px;
                height: 39px;
                border-radius: 30px;
                display: flex;
                align-items: center;

                input {
                    background-color: transparent;
                    outline: none;
                    border: none;
                    text-indent: 30px;
                    margin-top: 5px;
                    color: #FFFFFF;
                }

                ::placeholder {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 77px;
                    color: #FFFFFF;
                }
            }
        }
    }
}